<h1>Add New User</h1>

<div class = "text-secondary" style="margin-left: 2cm; width : 300px">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
            <label for="title">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              [(ngModel)]="user.fullname"
              name="roomno"
            />
          </div>
          <div class="form-group">
            <label for="title">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="user.email"
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="title">Password</label>
            <input
              type="text"
              class="form-control"
              id="pw"
              [(ngModel)]="user.password"
              name="address"
            />
          </div>
          <div class="form-group">
            <label for="title">Join Date</label>
            <input
              type="text"
              class="form-control"
              id="joindate"
              [(ngModel)]="user.joinedOn"
              name="address"
            />
          </div>
        <br/>
        <button (click)="addUser()" class="btn btn-info">Add User</button>
      </div>
  
      <div *ngIf="submitted">
        <h3>You successfully created a new user!</h3>
        <button class="btn btn-info" (click)="newUser()">New..</button>
      </div>
    </div>
  </div>